<div class="page-header">
  <h2>New Korean Word</h2>
</div>

<form action="/korean_words" method="POST">
  <div class="form-group">
    <label for="value">Value</label>
    <input type="text" name="value" class="form-control" id="value" placeholder="Enter the Korean word">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" id="description" placeholder="Enter the Korean word translation">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>